:root {
  /* https://modernfontstacks.com */
  --typography-geometric-humanist:
    Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
  --typography-monospace-code:
    ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
  --bg-primary: #2c2c2c;
  --bg-secondary: #393939;
  --bg-tertiary: #383838;
  --bg-hover: #404040;
  --bg-reference: oklch(42% 0.2 300);
  --bg-reference-hover: oklch(50% 0.2 300);
  --border-color: #454545;
  --text-primary: #e6e6e6;
  --text-secondary: #999999;
  --accent: #18a0fb;
  --accent-hover: #27affe;
  --popover-shadow:
    0 2px 5px 0 rgb(0 0 0 / 35%), inset 0 0 0.5px 0 rgb(255 255 255 / 35%),
    0 10px 16px 0 rgb(0 0 0 / 35%), inset 0 0.5px 0 0 rgb(255 255 255 / 8%);
  --panel-header-height: 40px;

  font-family: var(--typography-geometric-humanist);
  accent-color: var(--bg-secondary);
}

/* reduce show delay when another tooltip is shown already */
:root:has([interestfor]:has-interest) [interestfor] {
  interest-show-delay: 100ms;
}

:root:has([interestfor].has-interest) [interestfor] {
  --interest-show-delay: 100ms;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: rgb(255 255 255 / 0.25) transparent;
}

body {
  margin: 0;
  background: var(--bg-primary);
  color: var(--text-primary);
  height: 100dvh;
  overflow: hidden;
}

@layer atoms {
  .a-link {
    color: var(--accent);
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 4px;
    /* button reset */
    padding: 0;
    background: transparent;
    border: 0;
    font-size: inherit;
    font-family: inherit;

    &:hover {
      color: var(--accent-hover);
    }
  }

  .a-label {
    font-size: 13px;
    font-weight: 600;
    color: var(--text-secondary);
  }

  .a-panel-title {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-primary);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }

  color-input {
    gap: 8px;
    width: stretch;

    &::part(output) {
      font-size: 12px;
    }
  }

  .a-field,
  color-input::part(input) {
    /* fit input into minimal available space */
    min-width: 0;
    padding: 4px 8px;
    border: 1px solid transparent;
    background: var(--bg-secondary);
    color: var(--text-primary);
    border-radius: 4px;
    font-family: inherit;
    font-size: 13px;
    transition: all 0.2s ease;
    &:disabled {
      color: var(--text-secondary);
    }
  }

  .a-field:focus,
  /* cannot use css nesting inside of pseudo-element */
  color-input::part(input):focus {
    outline: none;
    border-color: var(--accent);
    background: var(--bg-primary);
    box-shadow: 0 0 0 2px rgb(0 0 0 / 0.1);
  }

  .a-field[type="number"] {
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  select.a-field {
    height: 28px;
    appearance: base-select;

    &::picker(select) {
      appearance: base-select;
      width: anchor-size(inline);
      position-area: bottom;
      position-try-fallbacks: flip-block;
      border: 0;
      padding: 0;
      margin-inline: 0;
      margin-block: 8px;
      background: var(--bg-primary);
      box-shadow: var(--popover-shadow);
    }

    &::picker-icon {
      color: var(--text-secondary);
      transition: 0.2s rotate;
    }

    &:open::picker-icon {
      rotate: 180deg;
    }
  }

  textarea.a-field {
    field-sizing: content;
    resize: none;
    max-height: 10lh;
  }

  .a-checkbox {
    /* 28px is the size of text input */
    margin: 6px 0;
    width: 16px;
    height: 16px;
    border: 1px solid var(--border-color);
  }

  /* expects icons 16px to keep button square */
  .a-button,
  color-input::part(trigger) {
    display: flex;
    min-height: 28px;
    padding: 0 5px;
    gap: 4px;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    background-color: oklch(from var(--bg-primary) l c h / 50%);
    border-radius: 4px;
    color: var(--text-primary);
    transition: all 0.2s ease;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;

    &[aria-pressed="true"] {
      background-color: var(--bg-reference);
      &:hover {
        background-color: var(--bg-reference-hover);
      }
    }
  }

  .a-button:hover,
  /* cannot use css nesting inside of pseudo-element */
  color-input::part(trigger):hover {
    background-color: var(--bg-hover);
    color: var(--text-primary);
  }

  .a-button:focus-visible,
  color-input::part(trigger):focus-visible {
    outline: none;
    border-color: var(--accent);
    box-shadow: 0 0 0 2px rgb(0 0 0 / 0.1);
  }

  .a-small-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    padding: 0;
    border: none;
    background-color: transparent;
    color: var(--text-primary);
    opacity: 0.5;
    transition: opacity 150ms;

    &:hover {
      opacity: 1;
    }
  }

  .a-popover {
    margin: 0;
    min-width: 160px;
    background: var(--bg-primary);
    border: 0;
    padding: 0;
    box-shadow: var(--popover-shadow);
  }

  .a-menu {
    position-area: bottom;
    position-try-fallbacks: flip-block;
    margin-inline: 0;
    margin-block: 8px;
  }

  .a-tooltip {
    width: max-content;
    background: var(--bg-secondary);
    color: var(--text-primary);
    border: 0;
    padding: 4px 12px;
    margin-inline: 0;
    margin-block: 8px;
    border-radius: 4px;
    box-shadow: var(--popover-shadow);
    position-area: top;
    position-try-fallbacks: flip-block;
  }

  .a-item {
    display: block;
    width: 100%;
    padding: 5px 12px;
    border: none;
    background: transparent;
    color: var(--text-primary);
    text-align: left;
    font-size: 13px;
    font-family: inherit;
    transition: 150ms;
    text-decoration: none;

    &:hover,
    &:focus-visible {
      background: var(--bg-hover);
      outline: none;
    }

    &[aria-selected="true"],
    &:checked {
      background: var(--accent);
      color: white;
    }

    &:where(option)::checkmark {
      display: none;
    }
  }

  .a-tab-scroller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    position: relative;
    background: var(--bg-primary);

    &::before {
      content: "";
      position: absolute;
      position-anchor: --a-selected-tab;
      left: 0;
      right: 0;
      bottom: 0px;
      border-bottom: 1px solid var(--border-color);
    }
  }

  .a-tab-list {
    display: flex;
    flex-shrink: 0;
    height: var(--panel-header-height);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      position-anchor: --a-selected-tab;
      left: anchor(left);
      right: anchor(right);
      bottom: calc(anchor(bottom));
      border-bottom: 2px solid var(--accent);
      transition: all 200ms;
    }
  }

  .a-tab {
    padding: 0 12px;
    border: none;
    background: transparent;
    color: var(--text-secondary);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 0;
    transition: all 0.2s ease;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    margin-bottom: -1px;

    &:hover {
      color: var(--text-primary);
      background: var(--bg-secondary);
    }

    &:focus-visible {
      outline: 1px solid var(--accent);
      outline-offset: -2px;
    }

    &[aria-selected="true"] {
      color: var(--accent);
      anchor-name: --a-selected-tab;
    }
  }
}
